In [1]:
setwd("~/Documents/DE/Shed/")
require(ggplot2)
require(tidyr)
require(dplyr)

Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Loading required package: tidyr
Loading required package: dplyr

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
cells=read.csv("Highphotos_counts.csv")

In [6]:
head(cells)

  ID  Date   Rep Photos Number Treatment
1 23W 15-Oct 1   4550   370    Ambient
2 23W 15-Oct 2   4551   493    Ambient
3 23W 15-Oct 3   4552   208    Ambient
4 23W 15-Oct 4   4553   288    Ambient
5 23W 15-Oct 5   4554   155    Ambient
6 23W 15-Oct 6   4555   244    Ambient

In [7]:
totals=as.data.frame(aggregate(Number~ID+Treatment+Date, data=cells, FUN=sum))

In [9]:
totals$Number=totals$Number*9

In [10]:
totals

   ID  Treatment Date   Number
1  26Y Heat      11-Nov  3564
2  37Y Heat      11-Nov 14247
3  8W  Heat      11-Nov 11277
4  23W Ambient   15-Oct 20925
5  29W Ambient   17-Oct 13590
6  15Y Heat      2-Nov   1809
7  29W Heat      2-Nov  27117
8  50Y Heat      2-Nov  18801
9  27Y Ambient   20-Oct  3771
10 29W Heat      31-Oct  9621
11 26Y Heat      7-Nov   4320
12 34Y Heat      7-Nov  70173
13 37Y Heat      7-Nov   3519